<!doctype html>
<html>
<head>
<meta content="HTML,CSS,XML,JavaScript">
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="src/css/reset.css">
<link rel="stylesheet" type="text/css" href="dist/css/styles.css">
</head>

<body bgcolor="#000000">
	
	<div id="preload" style="display:none !important;">
	<img src="{{src}}/images/####/####/name.ext" alt=""/>
	</div>

	<div id="wrapper-sc">
		<div>
		
		</div>
	</div>
</body>
