/* Clearing up for local use only */

html {
	font-size: 100%;
	text-size-adjust:100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
	color: #222;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	background: #fff;
}

.is-this-here {
	width: 100px;
}